body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    padding-top: 100px;
    box-sizing: border-box;
}

input {
    border: none;
    border-radius: 5px;
    outline: none;
    font-size: 20px;
    padding: 5px 10px;
    width: 260px;
}

.input-section {
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 380px;
}

.add-btn {
    margin-left: 10px;
    background-color: rgb(54, 104, 76);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.add-btn:active {
    transform: translateY(2px)
}

ul {
    width: 380px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0px;
}

li {
    font-size: 22px;
    font-family:'Lucida Sans';
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.item-text {
    width: 220px;
    display: flex;
    justify-content: flex-start;
}

.done-btn {
    margin-left: 10px;
    background-color: rgb(54, 104, 76);
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.delete-btn {
    margin-left: 10px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 5px 10px;
    cursor: pointer;
}

.task-done {
    text-decoration: line-through;
}

.material-icons {
    margin-left: 14px;
    cursor: pointer;
}